<div>
  <h1 class="font-bold text-4xl mb-6">Home</h1>
  
  <%= render HelloWorldComponent.new %>

  <%= render GeneralComponents::ButtonComponent.new(text: "button text", disabled: false) %>

  <%= render GeneralComponents::CardComponent.new(image_url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6TN-8JfkmSpQtP7f3LUIX0SzJTq2dlTRPJw&s") do |component| %>
    <% component.with_header do %>
      <%= link_to "My blog", root_path %>
    <% end %>

    <% component.with_body do %>
      <%= "Lorem Ipsum" %>
    <% end %>

    <%= component.with_buttons([ 
        {text: 'Button 1', disabled: false},
        {text: 'Button 2', disabled: true},
      ]) %>
  <% end %>
</div>

 